################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/HttpClientResilient/bin/Debug/net6.0
/HttpClientResilient/obj
/HttpClientResilient.Integration.Test/bin/Debug/net6.0
/HttpClientResilient.Integration.Test/obj
