################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/HttpClientResilient/bin/Debug/net6.0
/HttpClientResilient/obj
/HttpClientResilient.Test/bin/Debug/net6.0
/HttpClientResilient.Test/obj/Debug/net6.0/ref/HttpClientResilient.Integration.Test.dll
/HttpClientResilient.Test/obj
